.chosen {
    background:#f0f0f0
}

#term div{
    width:30%;
    border:1px solid #000000;
    margin-right:5px;
    text-align:center;
    line-height:50px;
    float: left;
}

.declare{
    margin-top:10px;
    background:#f0f0f0;
    text-align:center;
}

#province,#city{
width:40%
}

#myCarousel{
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

#myform{
    width:100%;
}

#creditList{
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

#creditList img{
    width: 160px;
}


#creditList .carousel-control{
    width: 10%;
}



#creditList .card{
    width:170px;
    background-color: #f0f0f0;
    float: left;
    padding: 5px 5px 5px 5px ;
    margin:auto;
}


#creditList a{
    background: none;
}